<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            What is the area of the red rectangle?
            <br>
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/area-problem-7.png"
               alt="area-problem-7">
          <br>
          <i> <b>Note:</b> Sometimes the "negative" area is easier to find.</i>
          <div class="top-buffer" *ngIf="showHint">
            <mat-divider></mat-divider>
            <div class="top-buffer">
              A good strategy for this problem is using the "negative area,"
              or the area that is not part of the red rectangle.
              If we can subtract the "negative" white area from the area of the entire figure,
              then we can determine the area of the red rectangle.
              <br>
              The entire figure has an area of <ng-katex [equation]="'6 \\times 6 = 36'"></ng-katex>
              <br>
              There are four triangles that make up the base area.
              Two of them, shown in purple, have an area of <ng-katex [equation]="'\\frac 1 2 (2)(2) = 2'"></ng-katex>
              <br>
              Two of them, shown in blue, have an area of
              <ng-katex [equation]="'\\frac 1 2 (4)(4) = 8'"></ng-katex>
              <br>
              <br>
              <img class="img-responsive" md-card-image src="./assets/images/area-problem-7-h1.png"
                   alt="area-problem-7-h1">
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="answer-text">
        <mat-radio-group class="option-radio-group"
                         [(ngModel)]="choice"
                         (change)="showResult($event)">
          <mat-radio-button class="option-radio-button"
                            *ngFor="let option of options"
                            [value]="option.text">
            {{option.text}}
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="choice != null">
          <div *ngIf="isCorrect">
            <div class="bool-result"> Correct
              <img class="mat-icon" src="./assets/icons/party.png"
                   alt="party">
            </div>
          </div>
          <div *ngIf="!isCorrect">
            <div class="bool-result"> Incorrect
              <img class="mat-icon" src="./assets/icons/thinking-face.png"
                   alt="thinking face">
            </div>
            <i> Getting wrong is part of learning! Think again
              <img class="mat-icon" src="./assets/icons/hope.png" alt="hope face"> </i>
          </div>
        </div>
        <div *ngIf="showHint">
          <i> It's OK! We're not judging. </i>
        </div>
        <div class="option-buttons">
          <button mat-raised-button (click)="toggleHint()"> {{!showHint ? 'Show Hint' : 'Hide Hint' }}</button>
          <br>
          <button mat-raised-button color="primary" (click)="goTO('../area-problem-8')"> Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
