<mat-toolbar color="warn">
  <mat-icon> info </mat-icon> &nbsp;
  <span> Abstract </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            <h3> Objective </h3>
            <ul>
            Understanding and applying the concepts of Area and Perimeter of 2D objects & Surface Area and Volume of 3D objects. The application will focus on the following.
              <li> The relation between 2D objects such as square, triangle, circles and
                how we can calculate their perimeter and area. </li>
              <li> The relation between 3D objects and how 3D objects are resulting from 2D objects,
                and how we can find their volume and surface area. </li>
            </ul>
          </div>
          <div class="bottom-buffer">
          <h3> Motives </h3>
          <ul>
            <li>
            The greatest challenges to education are disinterest and apathy. If you are excited,
            then you will learn quickly so the application will contain stylish sophisticated design,
            Interactive dials, and sliders which will let learners manipulate data, explore cause-and-effect relationships, and more.
            </li>
            <li>
            Research validates what our common sense tells us that lectures are an ineffective way to learn something new.
            Questions that cultivate curiosity are better than lectures so
              the application will challenge learners to really understand content with the new multiple response quiz questions.
            </li>
            <li>
              Moving from ignorance to understanding is an intellectual contact sport.
              Watching a video is not enough and effective learning is active, not passive that’s why,
              the application will give learners different feedback for right and wrong responses, or even different feedback for each possible response.
            </li>
            <li>
            To learn effectively, reduce the time between being exposed to a new idea and applying it.
              It is essential to apply what you're learning as you learn it
              so there will be interactive videos and animations showing the real-time application of concept learned.
            </li>
              <li>
              The application will not contain any complex formulas because
                the people who want to learn will naturally seek out the concepts and intuition that
                form the foundation of true learning.
                </li>
            <li>
            Age is also a poor way to determine what learners are capable of learning so the application will not specify
            any range and will be generic for all.
            </li>

            <li>
            The application will encourage failure because the difference between a good student and a great student
              is that great students allow themselves to fail.
            </li>
            <li>
              Failure is a necessary part of the process of challenging yourself to think of your limit so by
              using branching scenarios the application will try to explain the concept in another simpler
              way upon choosing some wrong choice.
            </li>
            <li>
              People who emerge from a great education seek to define problems and not merely solve the ones they're given,
              so at the end of the application, the learner will not having all the answers but knowing what to ask.
            </li>

          </ul>
        </div>

          <div class="bottom-buffer">
          <h3> Method </h3>
          <ol>
            <li>
              Start with simple questions that build your foundation and intuition.
            </li>
            <li>
              Ramp up to solving problems that seemed beyond your ability.
            </li>
            <li>
              Study different ways of solving the problems that are out of your grasp.
            </li>
          </ol>
        </div>

        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
    </div>
  </div>
</div>

