<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            The symmetric red cross is formed by placing two
            <ng-katex [equation]="'7 \\times 5'"></ng-katex>
            rectangles over one another so that equal amounts
            of one rectangle protrude from either side of the other.
            What is the perimeter of the cross?
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/perimeter-002.png"
               alt="perimeter-001">
          <div class="top-buffer" *ngIf="showHint">
            <mat-divider></mat-divider>
            <div class="top-buffer">
              Let's begin by labeling what we know on our diagram.
              <img class="img-responsive" md-card-image src="./assets/images/perimeter-002-h01.png"
                   alt="perimeter-001-h1">
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="answer-text">
        <mat-radio-group class="option-radio-group"
                         [(ngModel)]="choice"
                         (change)="showResult($event)">
          <mat-radio-button class="option-radio-button"
                            *ngFor="let option of options"
                            [value]="option.text">
            {{option.text}}
          </mat-radio-button>
        </mat-radio-group>
        <h3 *ngIf="choice != null">
          <div *ngIf="isCorrect">
            Correct <img class="mat-icon" src="./assets/icons/party.png"
                         alt="party">
          </div>
          <div *ngIf="!isCorrect">
            Incorrect <img class="mat-icon" src="./assets/icons/thinking-face.png"
                           alt="party">
          </div>
        </h3>
        <div class="option-buttons">
          <button mat-raised-button (click)="toggleHint()"> {{!showHint ? 'Show Hint' : 'Hide Hint' }}</button>
          <br>
          <button mat-raised-button color="primary" (click)="goTO('../problem3')"> Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
