<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            What is the length of the side marked with a question mark?
            <br>
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/area-problem-2.png"
               alt="area-problem-2">
          <i> <b>Note:</b> The areas of the rectangles are written inside of the rectangles and
            the side lengths are on the outsides of the rectangles.</i>
          <div class="top-buffer" *ngIf="showHint">
            <mat-divider></mat-divider>
            <div class="top-buffer">
              We can begin this problem by thinking of the figure as three separate rectangles,
              and working with each one individually.
              <br>
              The height of the green rectangle is 5 because <ng-katex [equation]="'8 \\times 5 = 40'"></ng-katex>.
              The height of the pink rectangle is 2 because <ng-katex [equation]="'5 \\times 2 = 10'"></ng-katex>.
              <br>
              We can subtract the height of the pink rectangle from the height of the green rectangle
              to find the height of the blue rectangle: <ng-katex [equation]="'5 - 2 = 10'"></ng-katex>.
              <br>
              If the height of the blue rectangle is 3,
              its length must be 4 in order for it to have an area of 12 because <ng-katex [equation]="'3 \\times 4 = 12'"></ng-katex>.

            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="answer-text">
        <mat-radio-group class="option-radio-group"
                         [(ngModel)]="choice"
                         (change)="showResult($event)">
          <mat-radio-button class="option-radio-button"
                            *ngFor="let option of options"
                            [value]="option.text">
            {{option.text}}
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="choice != null">
          <div *ngIf="isCorrect">
            <div class="bool-result"> Correct
              <img class="mat-icon" src="./assets/icons/party.png"
                   alt="party">
            </div>
          </div>
          <div *ngIf="!isCorrect">
            <div class="bool-result"> Incorrect
              <img class="mat-icon" src="./assets/icons/thinking-face.png"
                   alt="thinking face">
            </div>
            <i> Getting wrong is part of learning! Think again
              <img class="mat-icon" src="./assets/icons/hope.png" alt="hope face"> </i>
          </div>
        </div>
        <div *ngIf="showHint">
          <i> It's OK! We're not judging. </i>
        </div>
        <div class="option-buttons">
          <button mat-raised-button (click)="toggleHint()"> {{!showHint ? 'Show Hint' : 'Hide Hint' }}</button>
          <br>
          <button mat-raised-button color="primary" (click)="goTO('../area-problem-3')"> Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
