<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            The <b> perimeter </b> of a two-dimensional figure is the length of the boundary of the figure.
            If the figure is a polygon such as a triangle, square, rectangle, pentagon, etc.,
            then the perimeter is the sum of the edge lengths of the polygon.
            For example, a square with side length 3 has perimeter <ng-katex [equation]="'3 + 3 + 3 + 3 = 12'"></ng-katex>
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/perimeter-p01.png"
               alt="perimeter-p01">
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="answer-text">
        <div class="option-buttons">
          <button mat-raised-button color="primary" (click)="nextTab()"> Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
