<div [ngStyle]="{'height': '100%'}">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Shapes</span>
    <span class="example-fill-remaining-space"></span>
    <span><mat-icon>more_vert</mat-icon></span>
  </mat-toolbar>
  <mat-sidenav-container (backdropClick)="close('backdrop')" autosize>
    <mat-sidenav #sidenav mode="side" opened="true" (keydown.escape)="close('escape')">
      <mat-nav-list>
        <h4 mat-subheader>Geometry</h4>
        <mat-divider></mat-divider>
        <mat-list>
          <ng-template ngFor let-item [ngForOf]="sidebarItems">
            <mat-list-item [routerLink]="['/' + item.route]" [routerLinkActive]="['active-item']">
              <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
              {{ item.name }}
            </mat-list-item>
            <span mat-line><mat-divider></mat-divider></span>
          </ng-template>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
