<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            We are going to examine ways to find areas of various polygons, starting with the foundational figure for area,
            the square, and moving on from there by cutting and rearranging to make more complex shapes.
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/polygon-area-info-001.png"
               alt="polygon-area-info-001">
          <div class="top-buffer bottom-buffer">
            <b> Rectangles </b> are the foundation of understanding area.
            The area of a rectangle is equal to the length of the rectangle times the height of the rectangle.
            For example, the area of the rectangle below is <ng-katex [equation]="'6.5 \\times 4 = 26'"></ng-katex>.
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/polygon-area-info-002.png"
               alt="polygon-area-info-001">
          <div class="top-buffer bottom-buffer">
            Notice that we split the rectangle up into square-units.
            A <ng-katex [equation]="'1 \\times 1'"></ng-katex>. “unit square” has a unit length of 1 (which is a one-dimensional "unit"),
            and an area 1 (which is a two-dimensional "unit squared").
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/polygon-area-info-001a.gif"
               alt="polygon-area-rectangle">
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="answer-text">
        <div class="option-buttons">
          <button mat-raised-button color="primary" (click)="goTO('../area-problem-1')"> Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
