<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            At first, you paint your  <ng-katex [equation]="'1 in \\times 1 in \\times 1 in'"></ng-katex>
            cube blue on all sides. You then cut it into smaller cubes and paint all 27 completely pink.
            <br><br>
            What is the difference between the amount of blue paint you use and the amount of pink paint,
            in square inches? <br>
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/surface-area-008.png"
               alt="surface-area-008">
          <div class="top-buffer" *ngIf="showHint">
            <mat-divider></mat-divider>
            <div class="top-buffer">
              First, note that the same total surface area is painted,
              except for faces of the small cubes that were originally "inside" the big cube.
              Here's a quick way to see why there are 12 of these faces, each with area
              <ng-katex [equation]="'1 \\times 1'"></ng-katex> square inch:
              <br><br>
              <img class="img-responsive" md-card-image src="./assets/images/surface-area-008-h1.png"
                   alt="surface-area-008-h1">
              <br><br>
              Note that each "slice" picture represents 2 square inches where both sides of the slice must be painted.
              <br>
              For example, the ones on the left must get painted above and below the slice.
              A cube has 12 edges. 4 around the top, 4 around the bottom, and 4 around the sides.
              Each edge has one cube with exactly two faces painted green.
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="answer-text">
        <mat-radio-group class="option-radio-group"
                         [(ngModel)]="choice"
                         (change)="showResult($event)">
          <mat-radio-button class="option-radio-button"
                            *ngFor="let option of options"
                            [value]="option.text">
            {{option.text}}
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="choice != null">
          <div *ngIf="isCorrect">
            <div class="bool-result"> Correct
              <img class="mat-icon" src="./assets/icons/party.png"
                   alt="party">
            </div>
          </div>
          <div *ngIf="!isCorrect">
            <div class="bool-result"> Incorrect
              <img class="mat-icon" src="./assets/icons/thinking-face.png"
                   alt="thinking face">
            </div>
            <i> Getting wrong is part of learning! Think again
              <img class="mat-icon" src="./assets/icons/hope.png" alt="hope face"> </i>
          </div>
        </div>
        <div *ngIf="showHint">
          <i> It's OK! We're not judging. </i>
        </div>
        <div class="option-buttons">
          <button mat-raised-button (click)="toggleHint()"> {{!showHint ? 'Show Hint' : 'Hide Hint' }}</button>
          <br>
          <button mat-raised-button color="primary" (click)="goTO('../problem-7')"> Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
