/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

ng-katex {
  font-size: 1.2em;
}

.tab-content {
  font-size: 15px;
  line-height: 1.6em;
  color: #161616;
}

.top-buffer {
  margin-top: 20px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.problem-content img {
  display: block;
  margin: auto;
  max-height: 300px;
}

.option-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.option-radio-button {
  margin: 15px;
}

.option-buttons button {
  min-width: 300px;
  line-height: 32px;
  margin-top: 10px;
}

.mat-tab-label-active {
  background-color: #e8e8e8;
}

/*.option-buttons {
  text-align: center;
}*/

/*.answer-text {
  text-align: left;
}*/
