<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            Given that all turquoise, blue, and purple rectangles are congruent to one another,
            is the following statement true or false?

            Figures A, B, and C all have the same perimeter.
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/perimeter-004.png"
               alt="perimeter-004">
          <div class="top-buffer" *ngIf="showHint">
            <mat-divider></mat-divider>
            <div class="top-buffer">
              <div class="bottom-buffer">The three figures have the same perimeter because they start with the same
                three shapes and
                each figure has the exact same lengths where the shapes touch.<br>

                As shown below, a short side touches a long side in exactly two places in each figure.
              </div>
              <img class="img-responsive" md-card-image src="./assets/images/perimeter-004-h01.png"
                   alt="perimeter-004-h1">
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="answer-text">
        <mat-radio-group class="option-radio-group"
                         [(ngModel)]="choice"
                         (change)="showResult($event)">
          <mat-radio-button class="option-radio-button"
                            *ngFor="let option of options"
                            [value]="option.text">
            {{option.text}}
          </mat-radio-button>
        </mat-radio-group>
        <h3 *ngIf="choice != null">
          <div *ngIf="isCorrect">
            Correct <img class="mat-icon" src="./assets/icons/party.png"
                         alt="party">
          </div>
          <div *ngIf="!isCorrect">
            Incorrect <img class="mat-icon" src="./assets/icons/thinking-face.png"
                           alt="party">
          </div>
        </h3>
        <div class="option-buttons">
          <button mat-raised-button (click)="toggleHint()"> {{!showHint ? 'Show Hint' : 'Hide Hint' }}</button>
          <br>
          <button mat-raised-button color="primary"> Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
