<mat-toolbar color="warn">
  <mat-icon> group  </mat-icon> &nbsp;
  <span> Our Team </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<div class="tab-content">
  <div class="row">
    <div class="col-md-4  top-buffer">
      <div class="problem-content">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Muhammad Ali Makhdoom</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="img-responsive" src="./assets/images/ali.jpg" alt="Muhammad Ali Makhdoom">
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="problem-content">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Mishal Maryam Gill</mat-card-title>
            <mat-card-subtitle>Designer</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="img-responsive" src="./assets/images/mishal.jpg" alt="Mishal Maryam Gill">
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
    </div>
  </div>
</div>



