<div class="tab-content">
  <div class="row">
    <div class="col-md-8  top-buffer">
      <div class="problem-content">
        <mat-card>
          <div class="bottom-buffer">
            If all five of the rectangles are congruent, and the area of the figure is 15,
            what is the perimeter of the figure?
          </div>
          <img class="img-responsive" md-card-image src="./assets/images/perimeter-003.png"
               alt="perimeter-001">
          <div class="top-buffer" *ngIf="showHint">
            <mat-divider></mat-divider>
            <div class="top-buffer">
              The five congruent rectangles have a total combined area of 15, so each rectangle has an area of 3.
              From the image, we can see that the length of one rectangle is equal to the width of three others.
              Therefore, each rectangle must have a length of 3 and a width of 1.
              The length is three times greater than the width and the area is
              <ng-katex [equation]="'1 \\times 3 = 3.'"></ng-katex>
              <img class="img-responsive" md-card-image src="./assets/images/perimeter-003-h01.png"
                   alt="perimeter-001-h1">
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4  top-buffer">
      <div class="answer-text">
        <mat-radio-group class="option-radio-group"
                         [(ngModel)]="choice"
                         (change)="showResult($event)">
          <mat-radio-button class="option-radio-button"
                            *ngFor="let option of options"
                            [value]="option.text">
            {{option.text}}
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="choice != null">
          <div *ngIf="isCorrect">
            <div class="bool-result"> Correct
              <img class="mat-icon" src="./assets/icons/party.png"
                   alt="party">
            </div>
          </div>
          <div *ngIf="!isCorrect">
            <div class="bool-result"> Incorrect
              <img class="mat-icon" src="./assets/icons/thinking-face.png"
                   alt="thinking face">
            </div>
            <i> Getting wrong is part of learning! Think again
              <img class="mat-icon" src="./assets/icons/hope.png" alt="hope face"> </i>
          </div>
        </div>
        <div *ngIf="showHint">
          <i> It's OK! We're not judging. </i>
        </div>
        <div class="option-buttons">
          <button mat-raised-button (click)="toggleHint()"> {{!showHint ? 'Show Hint' : 'Hide Hint' }}</button>
          <br>
          <button mat-raised-button color="primary" (click)="goTO('../problem4')"> Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
